[Desktop Entry]
Version=1.0
Type=Application
Name=rx
Comment=A modern & minimalist pixel editor
TryExec=rx
Exec=rx
Icon=rx
Categories=Graphics;2DGraphics;RasterGraphics;
Terminal=false
MimeType=image/png;
