[Desktop Entry]
Version=1.0
Type=Application
Name=rx
Comment=A modern & extensible pixel editor
TryExec=rx
Exec=rx
Icon=rx.png
Categories=Graphics;2DGraphics;RasterGraphics;
Terminal=false
MimeType=image/png;
